.header {
  min-height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  background-color: #1eb7ee;

  &__button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
}
